/* style.css */

body {
  font-family: sans-serif;
  font-size: 13px/15px;
  word-spacing: 0.1em;
  letter-spacing: 0.08em;
}

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 25%;
  background-color: #EEE;
}

#sidebar {
  background-color: #09F;
  color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
}

#sidebar .header{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

#sidebar .product{
  padding: 10px;
  text-align: left;
  width: 100%;
  border-bottom: 1px #9AF solid;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}