<!DOCTYPE html>

<html>

  <head>
    <title>Supply Map</title>
    <link href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/leaflet.awesome-markers.css" rel="stylesheet" />
  </head>

  <body>
    <div id="sidebar">
      <div class="header">Supply Chain Map</div>
      <div class="header">Explore:</div>
      <div class="topic" data-topic="Carbon">Carbon</div>
      <div class="topic right" data-topic="Wage">Wages</div>
      <br/><br/>
      <div class="header">Products:</div>
      {% for id, name in products.items %}
        <div class="product" data-chain="{{ id  }}">{{name}}</div>
      {% endfor %}
    </div>
    <div id="map"></div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
  <script src="../static/leaflet.awesome-markers.js"></script>
  <script src="../static/js/sample_geojson.js"></script>
  <script src="../static/js/map.js"></script>
  
</html>